/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/*Colores*/

$Darkcyan: hsl(158, 36%, 37%);
$Cream: hsl(30, 38%, 92%);
$VeryDarkBlue: hsl(212, 21%, 14%);
$DarkGrayishBlue: hsl(228, 12%, 48%);
$White: hsl(0, 0%, 100%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    // font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: $Cream;
}

.card{
    width: 344px;
    height: 612px;
    border-radius: 12px;
    overflow: hidden;
    margin: 68px auto;
    background-color: $White;
    .card__first-section__image{
        width: 100%;
    }
    .card__second-section__product-type{
        color: $DarkGrayishBlue;
        font-size: 1em;
        letter-spacing: 3px;
        margin: 18px 24px 8px 24px;
    }
    .card__second-section__title{
        font-family: 'Fraunces', serif;
        margin: 0 24px 16px 24px;
        font-size: 2.2em;
        color: $VeryDarkBlue;
        line-height: 34px;
    }
    .card__second-section__description{
        margin: 0 24px 44px;
        color: $DarkGrayishBlue;
        font-size: 0.95em;
        line-height: 22px;
    }
    .card__second-section__price{
        display: flex;
        gap: 16px;
        align-items: center;
        margin: 0 24px 16px;
        .card__second-section__price__discount{
            font-family: 'Fraunces', serif;
            font-size: 2.3em;
            color: $Darkcyan;
        }
        .card__second-section__price__value{
            text-decoration: line-through;
            color: $DarkGrayishBlue;
        }
    }
           .card__second-section__button{
            width: 296px;
            height: 50px;
            background-color: $Darkcyan;
            border: none;
            border-radius: 8px;
            color: $White;
            font-size: 1.1em;
            font-weight: 700;
            display: block;
            margin: auto;
            &:hover{
                cursor: pointer;
                background-color: $VeryDarkBlue;
            }
        }
        .card__second-section__button__icon{
            margin-right: 12px;
        }
        .attribution { 
            font-size: 11px; 
            text-align: center; 
            a { 
                color: hsl(228, 45%, 44%); 
            }
        }
    }

    /*resposive*/

@media (min-width: 620px){
    .card{
        width: 600px;
        height: 450px;
        display: flex;
        margin: 175px auto 75px;
        .card__first-section{
            width: 300px;
            content: url(./images/image-product-desktop.jpg);
        } 
        .card__second-section__product-type{
            margin: 32px 24px 16px 24px;
        }
        .card__second-section__description{
            line-height: 24px;
            margin-bottom: 24px;
        }
        .card__second-section__price{
            margin-bottom: 26px;
        }
        .card__second-section__button{
            width: 240px;
        }
    }
}





    